<nav>
  <div class="container navbar">
    <div>
      <a href="/">MyApp</a>
    </div>
    <ul>
      <%= link_to "Movies", admin_movies_path %>
      <%= link_to "Series", admin_series_index_path %>
      <%= link_to "Rentals", admin_rentals_path %>
    </ul>

    <div>
      <a>Access with:</a>
      <%= link_to "Facebook", user_facebook_omniauth_authorize_path %>
    </div>
  </div>
</nav>
